body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}
a{
    text-decoration: none;
    color: currentColor;
}
ul, ol{
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
}
button{ 
        cursor: pointer;
}

img{
        display: block;
}

*{
        margin: 0;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, p{
        margin-bottom: 0;
        margin-top: 0;
}
.container{
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
}

.header{
        border-bottom: 1px solid #e7e9fc;
}

.header-container{
        display: flex;
        align-items: center;
}
.logo {
    font-family: Raleway, sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-right: 76px;
}

.logo-part {
        color: #2e2f42;
}

.logo-part-footer{
        color: #2e2f42;
}

.header-nav{
        display: flex;
        align-items: center;

}

.header-nav-list{
       display: flex; 
       gap: 40px;
}

.nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding-top: 24px;
    padding-bottom: 24px;
    display: block;
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}
.address-list{
        display: flex;
        gap: 40px;
}

.address-link {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}
main {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #2E2F42;}
    
.title-back{
        background-color: #2e2f42;
        padding-top: 188px;      
        padding-bottom: 188px;
        background-image:  url(../images/people-office\ 1.png);

}

.title {
        font-weight: 700;
   font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        margin-bottom: 48px;
      max-width: 496px;
      margin-left: auto;
      margin-right: auto;
}

.title-button {
    color: #fff;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
 background: #4d5ae5;     
   border-radius: 4px;
     padding: 16px, 32px;
   width: 169px;
      height: 56px;
  box-shadow: 0 4px, 4px, 0, rgba(0, 0, 0, 0.15);
      border: none;
      margin: 0 auto;
display: block;
min-width: 169px;
                

}
.title-button:hover,
.title-button:focus {
    background-color: #404BBF;
    cursor: pointer 
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.info-back{
    background-color: #fff;
    padding-bottom: 120px;
    padding-top: 120px;
}

.info-list{
        display: flex;
        gap: 24px;
}

.info {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        line-height: 1.2;
        text-transform: capitalize;
        margin-bottom: 8px;
}

.info-li{
        width: calc((100% - 72px) / 4);
        border-radius: 0px 0px 4px 4px;
}

.container-icon-info{

background: #f4f4fd;
  border: 1px solid #8e8f99;
                border-radius: 4px;
                margin-bottom: 8px;
                display: flex;
                width: 264px;
                height: 112px;
                justify-content: center;
                align-items: center;
        }
.icon-info{
        display: flex;
 

}

.info-down {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.team-back{
        background-color: #F4F4FD;
        padding-bottom: 120px;
        padding-top: 120px;
}

.team {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        line-height: 1.11;
        text-transform: capitalize;
        margin-bottom: 72px 
}
.team-img{
display: block;
 max-width: 100%;
  height: auto;
}

.team-list{
        display: flex;
        gap: 24px;
}

.team-li{
        background-color: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
        
}

.team-foto {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;

}

.icon-team-container{

display: flex;
        align-items: center;
        justify-content: center;
     border-radius: 50%;
background-color: #404BBF;
        flex-direction: row;
        gap: 24px;
        max-width: 232px;
        height: 40px;
        margin-left: 16px;

 
}

.icon-team{
        
fill: transparent;
}

.icon-team-container:hover{
background-color: #31D0AA;
}

.team-div{
        padding: 32px 0;
}

.team-job {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;


}

.portfolio-back{
    background-color: #fff;
padding-bottom: 120px;
        padding-top: 120px;
}
.portfolio {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.portfolio-list{
        display: flex;
        flex-wrap: wrap;
        row-gap: 48px;
        column-gap: 24px;
}

.portfolio-case {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
 
}

.portfolio-li{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
        margin-bottom: 8px
}

.portfolio-item{
        width: calc((100% - 48px)/3);
}

.portfolio-down {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;

}
footer{
        color: #434455;
        background-color: #2E2F42;
    
}
.logo-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
display: inline-block;
margin-bottom: 16px;
}

.logo-part {
color: #f4f4fd;
}

.mission-back{
        padding-bottom: 100px;
                padding-top: 100px;
}

.mission {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}